.TaskItem {
    /* border: 1px solid #DFDFDF; */
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 12px;
    border-color: black;
  }
.deleteTaskButton {
    background-color: #ff0000; /* Red background */
    color: #fff; /* White text */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }

.deleteTaskButton:hover {
    background-color: #cc0000; /* Darker red background on hover */
  }